*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary: #dba39a;
  --secondary: #f0dbdb;
  --complimentary: #f5ebe0;
  --bg: #fefcf3;
}
/* 
@property --top-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --top-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
} */

/* general */
header {
  background-image: url("https://robynainsley21.github.io/images/personal-portfolio/soft-bg.png");
  background-repeat: no-repeat;
  object-fit: contain;
}

body {
  background-color: var(--bg);
  font-family: "Julius Sans One", sans-serif;
}

.center-text{
    text-align: center;
}

/* navbar */
.navbar {
  padding-top: 2rem;
  z-index: 9;
}

.navbar a {
    font-weight: bold;
}

img[alt="logo"] {
  width: 5rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  margin: auto 1rem;
}

.card{
    width: 18rem;
}

/* hero section */
img[alt="hero-img"] {
  width: 25rem;
  border-radius: 50%;
}

#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

#home {
  overflow: hidden;
  min-height: 100vh;
}

/* about section */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  height: 100vh;
}

#about > p {
  width: 70%;
}

/* resume section */
#resume > h2 {
  padding-top: 3rem;
}

.education-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.education-btn {
  background-color: var(--complimentary);
  font-weight: bold;
}

#resume .card {
  background-color: var(--primary);
}

.experience-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.experience-container > p {
  font-size: 1.5rem;
}

/* skills section */
#skills {
    height: 100vh;
    background-color: var(--complimentary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

#skills ul{
    padding-left:0 ;
}

.skills-box{
    margin: 2rem 3rem;
}

.skills-box li{
    list-style: none;
    margin-top: 7px;
}

.skills-box li:first-child{
    font-weight: bold;
}

.skills-list2{
    text-align: right;
}

/* testimonials */
#testimonials{
 height: 100vh;
}

#testimonials{
    padding-top: 5%;
}

#testimonials .card{
    display: flex;
}

#carouselExampleControls{
    height: 70%;
    margin-top: 5% ;
}

span[aria-hidden="true"]{
    background-color: #000;
}

.carousel-item > .card{
    margin: auto;
}

/* media queries */
 /* mobile */
@media screen and (max-width: 425px){
    
}

/* tablet */
@media screen and (min-width: 426px) and (max-width: 768px){
    /* skills section */
    .skill-box2{
        position: absolute;
        right: 6%;
    }
}