*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --primary: #DBA39A;
    --secondary: #F0DBDB;
    --complimentary: #F5EBE0;
    --bg: #FEFCF3;
}

/* general */
body{
    background-color: var(--bg);
    font-family: "Julius Sans One", sans-serif;
}

.section-height{
    height: 100vh;
}

/* navbar */
nav{
    /* background-color: var(--primary); */
    z-index: 9;
}

img[alt="logo"]{
    width: 4rem;
    border-radius: 100%;
    margin: auto 1rem;
}

.navbar-collapse{
    margin-left: 70%;
}

/* hero section */
img[alt="hero-img"]{
    width: 15rem;
}

#hero{
    display: flex;
    position: relative;
    justify-content: space-around;
    margin: 8rem auto;
    align-items: center;
    text-align: center;
    z-index: 9;
}

img[alt="hero-bg"]{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

/* about section */
#about{
    position: relative;
}